<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <%= link_to 'Home', home_path, class: 'blog-nav-item active' %>
      <%= link_to 'Posts', posts_path, class: 'blog-nav-item' %>
    </nav>
  </div>
</div>
